<div class="bg-primary-200 d-flex justify-center align-center py-24">
    <p class="h4 h5-sm me-24 me-sm-16">加入會員取得 9 折優惠</p>
    <button type="button" class="btn btn-dark text-md">馬上註冊</button>
</div>
<footer class="bg-neutral-100">
    <nav class="d-flex d-sm-block align-center porduct-warp container border-b mb-32 pb-24 pt-64 pt-sm-32">
        <a href="index.html" class="mr-auto mb-sm-8">
            <img src="img/logo.svg" alt="logo" />
        </a>
        <ul class="d-flex d-sm-block px-sm-12">
            <li class="me-40 me-sm-0 mb-sm-4">
                <a href="product.html" class="py-12 text-md">商品列表</a>
            </li>
            <li>
                <a href="index.html" class="py-12 text-md">品牌故事</a>
            </li>
        </ul>
    </nav>
    <div class="copyRight pb-64 pb-sm-32">
        <p class="text-sm neutral-600 mb-4">Copyright ©2025 URBNSTYLE</p>
        <p class="text-sm neutral-600">All Rights Reserved.</p>
    </div>
</footer>