<footer class="bg-neutral-100">
    <nav class="d-flex d-sm-block align-center porduct-warp container border-b mb-32 pb-24 pt-64 pt-sm-32">
        <a href="index.html" class="mr-auto mb-sm-8">
            <img src="/assets/images/logo.svg" alt="logo" />
        </a>
        <ul class="d-flex d-sm-block px-sm-12">
            <li class="me-40 me-sm-0 mb-sm-4">
                <a href="product.html" class="py-12 text-md">商品列表</a>
            </li>
            <li>
                <a href="story.html" class="py-12 text-md">品牌故事</a>
            </li>
        </ul>
    </nav>
    <div class="copyRight pb-64 pb-sm-32">
        <p class="text-sm neutral-600 mb-4">Copyright ©2025 URBNSTYLE</p>
        <p class="text-sm neutral-600">All Rights Reserved.</p>
    </div>
</footer>