@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100..900;1,100..900&family=Noto+Sans+TC:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    line-height: 1.5;
    color: var(--neutral-900);
    font-family: "Montserrat", "Noto Sans TC", sans-serif;
    letter-spacing: 0.05em;
}

a {
    display: block;
    text-decoration: none;
    color: var(--neutral-900);
}

a:hover {
    color: var(--neutral-600);
}