/*麵包屑*/
.breadcrumb-item+.breadcrumb-item::before {
    content: '/';
    padding: 0 12px;
    color: var(--neutral-300);
    font-weight: 700;
}

.breadcrumb-item {
    display: flex;
    align-items: center;
}

.breadcrumb-item-link {
    color: var(--neutral-600);
}

@media (max-width:767px) {
    .breadcrumb-item+.breadcrumb-item::before {
        padding: 0 8px;
    }

    .breadcrumb-item {
        font-size: 14px;
    }
}

/*頁碼*/
.page-item .active {
    background: var(--Primary-300);
    font-weight: 500;
}

.page-item .btn {
    padding: 8px 15px;
    border-radius: 0;
}

.page-item .btn:hover {
    background: var(--neutral-100);
}