.icon {
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--Primary-300);
    color: var(--Primary-500);
    display: flex;
    justify-content: center;
    align-items: center;
}