.check-icon{
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: var(--Primary-300);
    color: var(--Primary-500);
    display: flex;
    justify-content: center;
    align-items: center;
}
.favorites-btn{
    padding: 12px 24px;
}
@media (max-width:767px) {
   .check-icon{
    width: 32px;
    height: 32px;
} 
}
