<!DOCTYPE html>
<html lang="zh-TW">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('./layout/head'); %>
        <title>註冊會員-URBNSTEP</title>
</head>

<body>
    <%- include('./layout/navbar'); %>
        <div class="container py-64 py-md-0">
            <div class="row">
                <div class="col-5 col-md-4">
                    <picture>
                        <source srcset="/assets/images/login-sm.png" media="(max-width:768px)" />
                        <img src="/assets/images/login.png" alt="Your Step, Your Statement-URBNSTEP圖" />
                    </picture>
                </div>
                <div class="col-7 col-md-4 py-120 py-md-32 member-bg  d-flex align-center flex-column">
                    <h4 class="mb-32 mb-md-24 h3">歡迎！</h4>
                    <div class=" mb-32 mb-md-24 w-76 w-md-100 d-flex ">
                        <div class="h6 member-bn">
                            <a href="login.html" class="py-12">登入</a>
                        </div>
                        <div class="h6 member-bn">
                            <a href="register.html" class="py-12 active"> 註冊</a>
                        </div>
                    </div>
                    <ul class="w-76 w-md-100">
                        <li class="social-bn mb-8 ">
                            <a href="#" class="p-12">
                                <img src="/assets/images/facebook.svg" alt="facebook" class="me-12">
                                <h2 class="inline">Facebook 登入</h2>
                            </a>
                        </li>
                        <li class="social-bn mb-8">
                            <a href="#" class="p-12">
                                <img src="/assets/images/apple.svg" alt="facebook" class="me-12">
                                <h2 class="inline">Apple 登入</h2>
                            </a>
                        </li>
                        <li class="social-bn mb-8">
                            <a href="#" class="p-12">
                                <img src="/assets/images/google.svg" alt="facebook" class="me-12">
                                <h2 class="inline">Google 登入</h2>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <%- include('./layout/footer'); %>

            <script type="module" src="../main.js"></script>
</body>

</html>